/* Example userChrome.css file */

/* Import your desired components first */
@import url(chrome/hide_tabs_toolbar.css);
@import url(chrome/window_control_placeholder_support.css);

@import url(chrome/loading_indicator_bouncing_line.css);
@import url(chrome/urlbar_connection_type_colors.css);

@import url(chrome/urlbar_centered_text.css);
@import url(chrome/button_effect_scale_onclick.css);
@import url(chrome/menulike_bookmarks_folder_popups.css);


/* Apply your custom modifications after imports */

/** reduce drag-space between window controls and toolbar */
:root[tabsintitlebar]{
  --uc-window-drag-space-width: 0px; /* Extra space reserved on both sides of the nav-bar to be able to drag the window */
}

/** animate toolbar when hovered in fullscreen (might affect performance on websites with complex layouts) */
:root[sizemode="fullscreen"] #navigator-toolbox {
  transition: margin-top 100ms ease-out;
}

/** add small draggable area above toolbar */
:root:not([uidensity="compact"]){
  --uc-toolbar-height: 46px;
}
#nav-bar {
  padding-top: 5px;
}
#urlbar {
  margin-top: -2px;
}

/** add minimum width to flexible spacers in toolbar */
#nav-bar:not([customizing]) toolbarspring {
    min-width: 32px !important;
}

/** urlbar: hide default container icon & "always open in this container" button */
#pageAction-urlbar-_testpilot-containers,
#userContext-indicator.identity-icon-circle {
  display: none;
}

/** urlbar: dim default container name color (great for Temporary Containers) */
#urlbar .identity-color-toolbar {
  --identity-tab-color: var(--toolbar-bgcolor) !important;
}

/** customize loading indicator */
@keyframes statusline-anim{
  from { background-position-x: -20%; }
  to { background-position-x: 100%; }
}
#statuspanel[type="status"]::after{
  animation: statusline-anim 2s infinite linear;
  background-image: linear-gradient(to left, transparent, #0091d4, transparent);
  background-repeat: repeat-x;
}
